#mainbarcont {
    height: 1340px;
    width: 620px;
    margin: 0px 40px;
}

#myname {
    margin: 40px 0px;
    color: #859fbb;
}

#information-title {
    color: #627385;
    height: 30px;
    width: 80px;
    text-align: center;
}

#my-information {
    margin: 10px 0px 10px 80px;
    font-size: small; 
}

#information-title-especially {
    color: #627385;
    height: 30px;
    width: 200px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #8b8888;
}
