.explorelist {
    width: 220px;
    margin: 10px 0px 10px 40px;
}

h3 {
    color: #859fbb;
    text-align: left;
    margin-left: 40px;
}

#other-hyperlink-list li {
    font-size: small;
}

#other-hyperlink a:hover {
    color: red;
}

#other-hyperlink a {
    text-decoration: none;
    color: #627385;
}

#diary {
    font-size: small;
    margin-left: 20px;
    margin-right: 20px;
    color: #627385;
}

#the-past-memory {
    margin: 0px 10px;
}